<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}
            <li><a href="/">Home</a></li>
            <li><a href="/bank_branches/add">Add Bank Branch</a></li>
            <li><a href="/bank_branches">List Bank Branches</a></li>
            <li><a href="/users">List Users Bank Branches</a></li>
            <li><a href="/stats">Stats Bank Branches</a></li>
        {% endblock %}
    </body>
</html>
