<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bank Branches</title>
    <h2>Bank Branches</h2>
</head>
<body>
<table>
    <tr>
        <td>id</td>
        <td>name</td>
        <td>location</td>
        <td>option</td>
    </tr>
    {% for bankBranch in bankBranches %}
        <tr>
            <td>{{ bankBranch.id }}</td>
            <td>{{ bankBranch.name }}</td>
            <td>{{ bankBranch.location }}</td>
            <td><a href="">Test</a></td>
        </tr>
    {% endfor %}
</table>
</body>
</html>
