<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bank Branches</title>
    <h1>Bank Branches</h1>
    <table>
        <tr>
            <td>id</td>
            <td>name</td>
            <td>location</td>
            <td>option</td>
        </tr>
        {% for bankBranch in bankBranches %}
            <tr>
                <td>{{ bankBranch.id }}</td>
                <td>{{ bankBranch.name }}</td>
                <td>{{ bankBranch.location }}</td>
            </tr>
        {% endfor %}
    </table>
</head>
<body>

</body>
</html>
