<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Simple Bank</title>
</head>
<body>
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="users/">Users</a></li>
</ul>
<table>
    <tr>
        <td>name</td>
        <td>location</td>
        <td>option</td>
    </tr>
    {% for bankBranch in bankBranches %}
        <tr>
            <td>{{ bankBranch.name }}</td>
            <td>{{ bankBranch.location }}</td>
            <td><a href="user/{{bankBranch.id}}">Add User</a></td>
        </tr>
    {% endfor %}
</table>
</body>
</html>
