<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Simple Bank</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
    {% block body %}
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/bank_branches">List Bank Branches</a></li>
        <li><a href="/users">List Users Bank Branches</a></li>
    </ul>
    <table>
        <tr>
            <td>name</td>
            <td>option</td>
        </tr>
        <tr>
            <td>{{ user.name }}</td>
            <td></td>
        </tr>
    </table>
    {% endblock %}
</body>
</html>
